<!DOCTYPE html> {% load static %}
<html lang="en">
{% include "tinder/child_template/head_style.html" %}
{% block content %}
    <body class="text-center">
  <form class="form-signin" method="post">
  <img src="/static/img/logo.png" alt="" class="rounded mb-4">
  <h2 class="h3 mb-3 font-weight-normal">Match and Learn</h2>
      <p>Reset Password</p>
    {% csrf_token %}
    {% for field in form %}
      <input class="form-control" id="{{ field.id_for_label }}" placeholder="Enter your email" name="{{ field.html_name }}"/>
    {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
  <p></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  <p></p>
  <a href="{% url 'tinder:login' %}">Back to login</a>
  </form>
    </body>
{% endblock %}
