<!DOCTYPE html> {% load static %}
<html lang="en">
{% include "tinder/child_template/head_style.html" %}
{% block content %}
    <body class="text-center">
  <form class="form-signin" method="post">
  <img src="/static/img/logo.png" alt="" class="rounded mb-4">
  <h2 class="h3 mb-3 font-weight-normal">Match and Learn</h2>
    <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
  <p></p>
  <a href="{% url 'tinder:login' %}">Back to login</a>
  </form>
    </body>
{% endblock %}
