<!DOCTYPE html> {% load static %}
<html>
{% include "tinder/child_template/css_style.html" %}
{% include "tinder/child_template/profile_detail.html" %}
<div class="right-col-block blocks">
<div class="theiaStickySidebar">
    {% include "tinder/child_template/gallery_section.html" %}
    <section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Make your difficult decisions</h2>
                    <h3>Do you want to accept this request?</h3>
                    <h3>{{ profile.firstname }} leave a short message for you : {{ request.request_message }}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <form action="{% url 'tinder:accept_request' profile.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary" id="accept_btn" name="accept" value="accept" >accept</button>
                        <button class="btn btn-primary" id="decline_btn" name="decline" value="decline" >decline</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    {% include "tinder/child_template/comment_section.html" %}
</div>
</div>
</div>
</div>
{% include "tinder/child_template/script_include.html" %}
</body>
</html>