<!DOCTYPE html> {% load static %}
<html lang="en">
{% include "tinder/child_template/head_style.html" %}
{% block content %}
    <body class="text-center">
  <form class="form-signin" method="POST" enctype="multipart/form-data">
  <img src="/static/img/logo.png" alt="" class="rounded mb-4">
    <h2 class="h3 mb-3 font-weight-normal">Match and Learn</h2>
  <p>You can add image here.</p>
    {% csrf_token %}
    {{ add_picture_form }}
      <p></p>
      <button class="btn btn-lg btn-primary btn-block" id="add_image_submit_btn" type="submit">Continue</button>
  <p></p>
  </form>
    </body>
{% endblock %}