<!DOCTYPE html> {% load static %}
<html lang="en">
{% include "tinder/child_template/head_style.html" %}
{% block content %}
    <body class="text-center">
  <form class="form-signin" method="POST" enctype="multipart/form-data">
  <img src="/static/img/logo.png" alt="" class="rounded mb-4">
    <h2 class="h3 mb-3 font-weight-normal">Match and Learn</h2>
  <p>You can edit profile here.</br>Type info that you want to change and click Continue.</p>
    {% csrf_token %}
    <img src="{{ pic.images.url }}" >
    {{ picture_edit_form }}
    {% for field in form %}
      {% if forloop.counter0 < 4 %}
      <input class="form-control" required id="{{ field.id_for_label }}" placeholder="{{ field.html_name|title }}" name="{{ field.html_name }}" type="text" value="{{ field.value }}"/><p></p>
    {% else %}
      <select class="custom-select" name="gender" id="id_bio" onselect="{{ form.gender.value }}">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
   </select>
            <p></p>
        {% endif %}
      {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
  {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
  <p></p>
  </form>
    </body>
{% endblock %}