<!DOCTYPE html> {% load static %}

<html lang="en">
<title>Log in to Match and Learn</title>
{% include "tinder/child_template/head_style.html" %}
{% block content %}
    <body class="text-center">
  <form class="form-signin" method="post">
  <img src="/static/img/logo.png" alt="" class="rounded mb-4">
    <h2 class="h3 mb-3 font-weight-normal">Match and Learn</h2>
    <p id="confirm_msg">Please confirm your email address<br>to complete the registration.</p>
      <a href="{% url 'tinder:login' %}">Back to login</a>
  </form>
    </body>
{% endblock %}
