<!DOCTYPE html> {% load static %}
<html lang="en">
{% include "tinder/child_template/head_style.html" %}
{% block content %}
    <body class="text-center">
  <form class="form-signin" method="post">
  <img src="/static/img/logo.png" alt="" class="rounded mb-4">
    <h2 class="h3 mb-3 font-weight-normal">Match and Learn</h2>
  <p>It seems like this is your first-time login.</br>Please enter some information below to continue.</p>
    {% csrf_token %}
    <input type="hidden" name="login" value="{{ next }}" />
    {% for field in form %}
        {% if forloop.counter0 < 2 %}
      <input class="form-control" id="{{ field.id_for_label }}" placeholder="School" name="{{ field.html_name }}" type="text"/><p></p>
        {% else %}
   <select class="custom-select" name="gender" id="id_bio">
   <option selected disabled>Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
   </select>
            <p></p>
        {% endif %}
    {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
  {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
  <p></p>
      <p>Don't forget to change your profile picture!</p>
  </form>
    </body>
{% endblock %}