<!DOCTYPE html>
<html lang="en">
{% include "tinder/child_template/list_page_style.html" %}
<head>
     <table id="good_subject_table">
    <form action="{% url 'tinder:match_request' %}" method="post">
    {% for list_match in list_match %}
        <div class="myDiv">
        <div id="request_{{ list_match.name }}" class="subDiv" onclick='location.href="/{{ list_match.id }}/accept_request"'><h1 id="request_name_{{ list_match.name }}">{{ list_match.firstname }} {{ list_match.lastname }}</h1><p>Gender : {{ list_match.gender }}</p><p> age: {{ list_match.age  }}</p></div></td>
        </div>
    {% endfor %}

         {% csrf_token %}
    </form>
    </table>

</head>
<body>

</body>
</html>