<!DOCTYPE html> {% load static %}
<html>
{% include "tinder/child_template/css_style.html" %}
{% include "tinder/child_template/profile_detail.html" %}
<div class="right-col-block blocks">
<div class="theiaStickySidebar">
    {% include "tinder/child_template/gallery_section.html" %}
    <section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Unmatch</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <form action="{% url 'tinder:matched_profile' profile.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" id="unmatched_btn" name="unmatch" value="unmatch" >unmatched</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% if comment_form == True %}
<section class="section-contact section-wrapper gray-bg">
    <div>
        <h2>Leave comment</h2>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            <form action="{% url 'tinder:create_comment' profile.id %}" method="post" style="margin-top: 1.3em;">
                <p><label for="id_comment">Comment:</label> <input class="form-control" type="text" name="comment" maxlength="500" required id="id_comment"></p>
                <p><label for="id_star">Choose your score:</label> <select class="form-control" name="star" id="id_star">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </p>
                {% csrf_token %}
                <button type="submit" id="comment_submit_btn" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>
{% endif %}
<section id="comment_section_start" class="section-contact section-wrapper gray-bg">
    <div>
      <h2>Comment</h2>
    </div>
        <div class="row">
            <div class="col-md-12">
                <h2>{{ comments.count }} comments</h2>
                {% for comment in comments %}
                    <div class="section-contact section-wrapper gray-bg">
                        <div class="comments" style="padding: 10px;">
                            <p class="font-weight-bold">
                                {{ comment.name }}
                                <span class=" text-muted font-weight-normal">
                                    {{ comment.created_on }}
                                </span>
                            </p>
                            <p id="comment_{{ comment.name }}">Comment : {{ comment.comment }}</p>
                            <p>Star : {{ comment.star }}</p>
                            {% if comment.name == username %}
                                <form action="{% url 'tinder:delete_comment' profile.id %}" method="POST">
                                {% csrf_token %}
                                    <input type="hidden" id="comment_id" name="comment_id" value="{{ comment.id }}">
                                    <input class="btn btn-primary" id="delete_comment_btn_{{ comment.name }}" type="submit" value="Delete Comment" />
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <div id="comment_section_end"></div>
</section>
</div>
</div>
</div>
</div>
{% include "tinder/child_template/script_include.html" %}
</body>
</html>