<!DOCTYPE html> {% load static %}
<html>
{% include "tinder/child_template/css_style.html" %}
{% include "tinder/child_template/profile_detail.html" %}
<div class="right-col-block blocks">
<div class="theiaStickySidebar">
{% include "tinder/child_template/gallery_section.html" %}
<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    {% if not match_send %}
                    <h2>Do you want to match this person?</h2>
                    {% else %}
                    <h2 id="change_match">Want to change your mind?</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                {% if already_match %}
                    <p>you was send the request to this user or user was send the request to you</p>
                {% else %}
                    {% if match_send %}
                    <form method="post" action="{% url 'tinder:unmatched' profile.id %}">
                        {% csrf_token %}
                        <button class="btn btn-primary"  name="Unmatched" value="Unmatched" >Unmatched</button>
                    </form>
                    {% else %}
                    <form method="post" action="{% url 'tinder:match' profile.id %}">
                        {% csrf_token %}
                        <label for="text_request">Tell something about yourself</label>
                        <input class="form-control" id ="text_request" name="text_request" type="text" row="4" cols="100" ><p></p>
                        <button class="btn btn-primary" id="match_btn" name="match" value="match" >Match</button>
                    </form>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="section-contact section-wrapper gray-bg">
    <div>
      <h2>Expertise subject : </h2>
        {% for subject_name in subject.all %}
       <h3>{{ subject_name }}</h3>
    {% endfor %}
    </div>
</section>
{% include "tinder/child_template/comment_section.html" %}
</div>
</div>
</div>
</div>
{% include "tinder/child_template/script_include.html" %}
</body>
</html>