<!DOCTYPE html> {% load static %}

<html lang="en">
{% include "tinder/child_template/head_style.html" %}
{% block content %}
    <body class="text-center">
  <form class="form-signin" method="post">
  <img src="/static/img/logo.png" alt="" class="rounded mb-4">
    <h2 class="h3 mb-3 font-weight-normal">Match and Learn</h2>
    {% csrf_token %}
    <input type="hidden" name="login" value="{{ next }}" />
    {% for field in form %}
        {% if forloop.counter0 != 6 %}
      <input class="form-control" id="{% if forloop.counter0 == 7 %}id_email{% elif forloop.counter0 == 8 %}id_college{% else %}{{ field.id_for_label }}{% endif %}" placeholder="{% if forloop.counter0 == 0 %}Username{% elif forloop.counter0 == 1 %}Password{% elif forloop.counter0 == 2 %}Confirm Password{% elif forloop.counter0 == 3 %}First Name{% elif forloop.counter0 == 4 %}Last Name{% elif forloop.counter0 == 5 %}Age{% elif forloop.counter0 == 7 %}Email{% elif forloop.counter0 == 8 %}College{% endif %}" name="{% if forloop.counter0 == 7 %}email{% elif forloop.counter0 == 8 %}college{% else %}{{ field.html_name }}{% endif %}" type="{% if forloop.counter0 == 1 %}password{% elif forloop.counter0 == 2 %}password{% elif forloop.counter0 == 7 %}email{% else %}text{% endif %}"/><p></p>
    {% elif forloop.counter0 == 6 %}
   <select class="custom-select" name="gender" id="id_bio">
   <option selected disabled>Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
   </select><p></p>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
  {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      <button class="btn btn-lg btn-primary btn-block" id="signup_btn" type="submit">Sign up</button>
  <p></p>
    <a href="{% url 'tinder:login' %}">Back to login</a>
  </form>
    </body>
{% endblock %}