<!DOCTYPE html>
<html lang="en">
{% include "tinder/child_template/list_page_style.html" %}
<body>
    {% for key,value in list_match.items %}
        <form method="post" action="{% url 'chat:room' value %}" target="_blank">
            <div class ="myDiv">
                <div class="subDiv" id="user_{{ key.name }}" onclick="location.href='{% url 'tinder:matched_profile' key.id %}'"><h1> {{ key.firstname }} {{ key.lastname }}</h1><p> Gender: {{ key.gender }} <p/><p> Age: {{ key.age }} <p/></div>
                {% csrf_token %}
                <div class="w3-display-container w3-white" >
                    <div class="w3-display-bottomright"><button class="button button4" name="room" value="room" >chat room</button></div></div>
            </div>
        </form>
    {% endfor %}
</body>
</html>
