{% load static %}
<ul>
  <li><a href="/">Home</a></li>
  <li><a name = "Students and Tutor list" href="{% url 'tinder:students_list' %}">Students and Tutor list</a></li>
    <li ><a name = "Match request" href="{% url 'tinder:match_request' %}" {% if name.match_request > 0 %}class="notification"{% endif %}><span>Student request</span>{% if name.match_request > 0 %}<span name= "value_notificate" class="badge">{{ name.match_request }}</span>{% endif %}</a></li>
    <li><a name = "About us" href="{% url 'tinder:aboutus' %}">About</a></li>
    <li><a name = "Privacy Policy" href="{% url 'tinder:privacy' %}">Privacy Policy</a></li>
    <li style="float:right"><a id="logout_btn" href="{% url 'tinder:logout' %}">Logout</a></li>
    <li style="float:right"><a href="{% url 'tinder:faq' %}">Help</a></li>
    <li style="float:right"><a href="/my_profile">Profile : {{ user.first_name }}</a></li>
</ul>